<div id="<%= dom_id medical_record %>">
  <p>
    <strong>Patient:</strong>
    <%= medical_record.patient_id %>
  </p>

  <p>
    <strong>Writing date:</strong>
    <%= medical_record.writing_date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= medical_record.user_id %>
  </p>

</div>
